<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form action="{% url 'berita.create' %}" method="post">
            {% csrf_token %} {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
