<div id="modal"
     x-show="isModalOpen"
     class="fixed inset-0 z-99999 flex h-screen w-screen items-center bg-black bg-opacity-50">
    <div x-on:click.away="isModalOpen = false"
         class="inset-0 mx-auto h-fit w-1/2 rounded-lg bg-white">
        <div id="modalHead" class="m-3">
            <span class="float-start font-bold" x-text="modalTitle">{{ modalTitle }}</span>
            {% if kepengurusan %}
                <template x-if="modalTitle == 'Struktur Organisasi'">
                    <button x-on:click=" formUrl = '{% url "pengurus.create" kepengurusan.id %}'; formBtn = 'Create'; isModalOpen = true; modalTitle = 'Create Pengurus'; ormawaEdit = { nama: '', singkatan: '', deskripsi: '', jenis: '', status: '', }; "
                            id="modalClose"
                            class="jusitfy-end float-right flex p-3 text-xl">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </template>
                <template x-if="modalTitle != 'Struktur Organisasi'">
                    <button x-on:click="isModalOpen = false"
                            id="modalClose"
                            class="jusitfy-end float-right flex p-3 text-xl">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </template>
            {% endif %}
        </div>
        <div class="w-full" x-data>
            {% if not kepengurusan %}
                <div x-show="modalTitle == 'Create Kepengurusan'">{% include "partials/kepengurusan_create.html" %}</div>
            {% else %}
                <div x-show="modalTitle == 'Create Pengurus'">{% include "partials/kepengurusan_pengurus_create.html" %}</div>
                <div x-show="modalTitle == 'Struktur Organisasi'">{% include "partials/kepengurusan_strukturOrg_create.html" %}</div>
                <div x-show="modalTitle == 'Edit Pengurus'">{% include "partials/kepengurusan_pengurus_create.html" %}</div>
            {% endif %}
        </div>
    </div>
</div>
