<form id="modalForm" x-bind:action="formUrl" method="post" class="m-5">
    {% csrf_token %}
    {{ kepengurusanForm.kepengurusan.label }}
    {{ kepengurusanForm.kepengurusan }}
    {{ kepengurusanForm.kepengurusan.errors }}
    <div x-data="mahasiswaSearch">
        <div class="relative">
            {{ kepengurusanForm.ketua.label }}
            {{ kepengurusanForm.ketua }}
            {{ kepengurusanForm.ketua.errors }}
            <div x-show="show.ketua"
                 x-transition:enter="transition ease-out duration-300"
                 x-transition:enter-start="opacity-0 -translate-y-6"
                 x-transition:enter-end="opacity-100 translate-y-0"
                 x-transition:leave="transition ease-in duration-300"
                 x-transition:leave-start="opacity-100 translate-y-0"
                 x-transition:leave-end="opacity-0 -translate-y-6"
                 class="absolute z-999999 bg-white w-full max-h-72 overflow-y-auto rounded-b-lg border-[1.5px] border-stroke py-3 font-normal text-black outline-none transition border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:border-primary">
                <template x-for="result in searchMahasiswa('ketua')">
                    <div>
                        wadasdwad
                        <button x-text='result.nama'
                                @click.prevent='selectOrmawa(result.nama)'
                                class="transition-opacity ease-in-out delay-100 w-full py-2 px-5 hover:bg-indigo-500 duration-500 hover:bg-primary hover:text-white text-start"
                                x-transition></button>
                    </div>
                </template>
            </div>
        </div>
        <div class="relative">
            {{ kepengurusanForm.sekretaris.label }}
            {{ kepengurusanForm.sekretaris }}
            {{ kepengurusanForm.sekretaris.errors }}
            <div x-show="show.sekretaris"
                 x-transition:enter="transition ease-out duration-300"
                 x-transition:enter-start="opacity-0 -translate-y-6"
                 x-transition:enter-end="opacity-100 translate-y-0"
                 x-transition:leave="transition ease-in duration-300"
                 x-transition:leave-start="opacity-100 translate-y-0"
                 x-transition:leave-end="opacity-0 -translate-y-6"
                 class="absolute bg-white w-full max-h-72 overflow-y-scroll rounded-b-lg border-[1.5px] border-stroke py-3 font-normal text-black outline-none transition border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:border-primary">
                <template x-for="result in searchMahasiswa('sekretaris')">
                    <div>
                        wadasdwad
                        wadasdwad
                        wadasdwad
                        wadasdwad
                        wadasdwad
                        <button x-text='result.nama'
                                @click.prevent='selectOrmawa(result.nama)'
                                class="transition-opacity ease-in-out delay-100 w-full py-2 px-5 hover:bg-indigo-500 duration-500 hover:bg-primary hover:text-white text-start"
                                x-transition></button>
                    </div>
                </template>
            </div>
        </div>
    </div>
    {{ kepengurusanForm.periode.label }}
    {{ kepengurusanForm.periode }}
    {{ kepengurusanForm.periode.errors }}
    <div class="m-3">
        <button x-text="formBtn"
                type="submit"
                class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
        </button>
    </div>
</form>
<script>
    {% comment %} document.addEventListener('alpine:init', () => {
        Alpine.data('mahasiswaSearch', () => ({
            show: {
                'ketua': false,
                'sekretaris': false
            },
            selected: {
                'ketua': '',
                'sekretaris': ''
            },
            selectedIdx: {
                'ketua': '',
                'sekretaris': ''
            },
            searchQuery: {
                'ketua': '',
                'sekretaris': ''
            },
    
            searchMahasiswa(role) {
                return fetch("{% url 'mahasiswa.search' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        query: this.searchQuery[role],
                        dummy: 'dummy'
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    return data
                });
            },
    
            changeSelectedMahasiswaIdx() {
                if (this.selectedIdx == '') {
                    this.selectedIdx = 0;
                } else {
                    this.selectedIdx++;
                }
            },
    
            selectMahasiswa(nama, role) {
                this.show[role] = false;
                this.searchQuery[role] = '';
                this.selected[role] = nama;
            },
    
            reset(role) {
                this.show[role] = false;
                this.searchQuery[role] = '';

                console.log(role)
                console.log(this.show[role])
                console.log(this.searchQuery[role])
            },
    
            resetSelected(role) {
                this.searchQuery[role] = '';
                this.selected[role] = '';
                setTimeout(() => {
                    document.querySelector('#id_' + role).focus();
                });
                setTimeout(() => {
                    this.show[role] = true;
                }, 100);
            },
        }));
}); {% endcomment %}
</script>
