<form id="modalForm" x-bind:action="formUrl" method="post" class="m-5">
    {% csrf_token %}
    {{ formPengurus.mahasiswa.label_tag }}
    {{ formPengurus.mahasiswa }}
    {{ formPengurus.mahasiswa.errors }}
    <div class="py-6 grid grid-cols-4 gap-4 flex items-stretch">
        <div class="col-span-3">
            {{ formPengurus.struktur.label_tag }}
            {{ formPengurus.struktur }}
            {{ formPengurus.struktur.errors }}
        </div>
        <div class="self-end">
            <a id="modalOpen"
               x-on:click=" formUrl = '{% url "strukturorg.create" kepengurusan.ormawa_id %}'; formBtn = 'Create'; isModalOpen = true; modalTitle = 'Struktur Organisasi'; ormawaEdit = { nama: '', singkatan: '', deskripsi: '', jenis: '', status: '', }; "
               class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                Settings
            </a>
        </div>
    </div>
    <div class="m-3">
        <button x-text="formBtn"
                type="submit"
                class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
        </button>
    </div>
</form>