<div x-data="baseStrukturOrg" class="m-3">
    <div class="py-6 grid grid-cols-4 gap-4 flex items-stretch">
        <div class="col-span-3">
            {{ formStrukturOrg.nama.label_tag }}
            {{ formStrukturOrg.nama }}
            {{ formStrukturOrg.nama.errors }}
        </div>
        <div class="self-end">
            <button id="modalOpen"
                    @click.prevent="createStrukturOrg"
                    class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                Create
            </button>
        </div>
    </div>
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-5 hidden items-center sm:flex">
            <p class="font-medium">Nama Jabatan</p>
        </div>
        <div class="col-span-2 hidden items-center sm:flex">
            <p class="font-medium">Actions</p>
        </div>
    </div>
    <template x-for="so in strukturOrg">
        <div class="grid grid-cols-6 border-t border-stroke px-4 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
            <div class="col-span-5 flex items-center">
                <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
                    <p x-text="so.nama"
                       class="text-sm font-medium text-black dark:text-white">{{ so.nama }}</p>
                </div>
            </div>
            <div class="col-span-2 flex items-center">
                <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
                    <div x-show="so.active == 'True'">
                        <button @click.prevent="changeStatusStrukturOrg(so.id, 0)"
                                class="inline-flex items-center justify-end rounded-md bg-[#F87171] px-10 py-1 my-1 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                            Deactivate
                        </button>
                    </div>
                    <div x-show="so.active == 'False'">
                        <button @click.prevent="changeStatusStrukturOrg(so.id, 1)"
                                class="inline-flex items-center rounded-md bg-[#34D399] px-10 py-1 my-1 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                            Activate
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-span-1 flex items-center justify-end">
                <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
                    <button @click.prevent="confirm('Semua data yang berhubungan dengan jabatan ini akan hilang. Apakah kamu yakin?') ? deleteStrukturOrg(so.id) : false">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </template>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('baseStrukturOrg', () => ({
            strukturOrg: [
                {% for so in strukturOrg %}
                    { id: '{{ so.id }}', nama: '{{ so.nama }}', active: '{{ so.active }}' }
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            createStrukturOrg(){
                var namaJabatan = document.querySelector('[x-model="namaJabatan"]');
                var formData = new FormData();  
                formData.append('nama', namaJabatan.value); 
                namaJabatan.value = '';
                fetch('{% url 'strukturorg.create' kepengurusan.ormawa_id %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    this.strukturOrg.push({
                        id: data.id,
                        nama: data.nama, 
                        active: data.active,
                    });
                    var selectElement = document.getElementById('id_struktur');
                    var newOption = document.createElement('option');
                    newOption.value = data.id; 
                    newOption.textContent = data.nama;
                    selectElement.appendChild(newOption); 
                });
            },

            changeStatusStrukturOrg(strukturID, val){
                console.log(this.strukturOrg)

                var formData = new FormData();  
                formData.append('status', val); 
                fetch("{% url 'strukturorg.edit' 123 %}".replace(123, strukturID), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    const index = this.strukturOrg.findIndex(item => item.id === strukturID);
                    if (index !== -1) {
                        this.strukturOrg[index] = {id: data.id, nama: data.nama, active: data.active};
                    }
                });
            },

            deleteStrukturOrg(strukturID){
                fetch("{% url 'strukturorg.delete' 123 %}".replace(123, strukturID), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                })
                .then(response => response.json())
                .then(data => {
                    const index = this.strukturOrg.findIndex(item => item.id === strukturID);
                    if (index !== -1) {
                        this.strukturOrg.splice(index, 1);
                    }
                    var selectElement = document.getElementById('id_struktur');
                    selectElement.remove(index+1)
                });
            }
      }))
    })
</script>
