<div
  id="modal"
  x-show="isModalOpen"
  class="fixed inset-0 z-[9999999] flex h-screen w-screen items-center bg-black bg-opacity-50"
>
  <div
    x-on:click.away="isModalOpen = false"
    class="inset-0 mx-auto h-fit w-1/2 rounded-lg bg-white"
  >
    <div id="modalHead" class="m-3">
      <span class="float-start font-bold" x-text="modalTitle"
        >Create Jenis Ormawa</span
      >
      <button
        x-on:click="isModalOpen = false"
        id="modalClose"
        class="jusitfy-end float-right flex p-3 text-xl"
      >
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <form id="modalForm" x-bind:action="formUrl" method="post" class="m-5">
      <div class="max-h-90 overflow-y-scroll w-full">
        {% csrf_token %} {{ levelForm }}
      </div>
      <button
        x-text="formBtn"
        type="submit"
        class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
      ></button>
    </form>
  </div>
</div>
