<div
  id="modal"
  x-show="isModalOpen"
  class="fixed inset-0 z-[9999999] flex h-screen w-screen items-center bg-black bg-opacity-50"
>
  <div
    x-on:click.away="isModalOpen = false"
    class="inset-0 mx-auto h-fit w-1/2 rounded-lg bg-white"
  >
    <div id="modalHead" class="m-3">
      <span class="float-start font-bold" x-text="modalTitle"
        >Create Ormawa</span
      >
      <button
        x-on:click="isModalOpen = false"
        id="modalClose"
        class="jusitfy-end float-right flex p-3 text-xl"
      >
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <form id="modalForm" x-bind:action="formUrl" method="post" class="m-5">
      <div class="max-h-90 overflow-y-scroll w-full">
        {% csrf_token %} {{ ormawaForm }}
      </div>
      <button
        x-text="formBtn"
        type="submit"
        class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10"
      ></button>
    </form>
  </div>
</div>
<div
  id="modalLevel"
  class="absolute z-[9999] inset-0 flex justify-center items-center bg-black bg-opacity-50 hidden"
>
  <div class="bg-white rounded-lg w-1/3 h-5/6 overflow-y-auto">
    <div id="modalLevelHead" class="m-3">
      <span class="font-bold">Level Ormawa</span>
      <button
        id="modalLevelClose"
        class="float-end p-3 flex justify-end text-xl"
      >
        <i class="fa-solid fa-x"></i>
      </button>
    </div>
    <div id="modalLevelBody">
      <form
        id="modalLevelForm"
        action="{% url 'level.create' %}"
        method="post"
        class="m-5"
      >
        {% csrf_token %} {{ levelForm }}
        <button
          type="submit"
          class="bg-royal-blue-600 text-white p-2 rounded-lg"
        >
          Create
        </button>
      </form>
      <div class="mx-auto grid grid-cols-2 gap-4 p-4">
        {% for l in level %}
        <div class="bg-royal-blue-600 text-white p-4 rounded-lg">
          <div>
            <div class="float-end grid cols-rows-1 gap-1">
              <button class="editLevel" data-id="{{ l.id }}">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <a href="{% url 'level.delete' l.id %}">
                <i class="fa-regular fa-trash-can"></i>
              </a>
            </div>
            <div class="float-start">
              <p>{{ l.id }}</p>
              <p>{{ l.nama }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
