<div id="content" class="w-full grid grid-cols-3 gap-5 text-left mx-auto overflow-auto h-100">
    <div id="toDo">
        <span class="pl-4 text-xl text-royal-blue-850 font-semibold">To-Do (10)</span>
        <div class="bg-royal-blue-100 p-4 grid grid-cols-1 gap-4 rounded-lg">
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-yellow-200 text-yellow-600 text-xs rounded-lg">Pending</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-solid fa-x"></i>
                        <i class="fa-solid fa-check"></i>
                        <i class="fa-regular fa-eye"></i>

                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="onGoing"> 
        <span class="pl-4 text-xl text-royal-blue-850 font-semibold">on-Going (10)</span>
        <div class="bg-royal-blue-100 p-4 grid grid-cols-1 gap-4 rounded-lg">
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Complete"> 
        <span class="pl-4 text-xl text-royal-blue-850 font-semibold">Complete (10)</span>
        <div class="bg-royal-blue-100 p-4 grid grid-cols-1 gap-4 rounded-lg">
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-royal-blue-800 p-4 bg-white rounded-lg transition ease-in-out hover:-translate-1 hover:scale-105 duration-300">
                <div id="date">
                    <span class="text-sm font-semibold p-1 rounded-lg bg-gray-200 text-gray-600">
                        12-12-2024
                    </span>
                </div>
                <p class="text-l font-semibold">Dinacom</p>
                <span class="p-1 bg-green-200 text-green-600 text-xs rounded-lg">Accepted</span>
                <div class="grid grid-cols-4">
                    <div id="kegiatanAction" class="grid grid-cols-3 gap-1 my-2">
                        <i class="fa-regular fa-eye"></i>
                        <i class="fa-regular fa-pen-to-square"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                    <div class="col-span-3 flex justify-end gap-1">
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full">
                        </div>
                        <div class="p-2 bg-gray-200 h-7 w-7 rounded-full flex justify-center items-center">
                            <span class="text-royal-blue-850 font-semibold text-xs">+2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>