<div id="kepengurusan">
    <div class="p-2 rounded-lg grid gap-4">
        <button id="modalKepengurusanOpen" class="border-dotted border-2 border-royal-blue-500 bg-royal-blue-300 rounded-lg p-2 flex justify-center text-royal-blue-600">
            Add Kepengurusan
        </button>
        {% for k in kepengurusan %}
        <div>
            <div class="
            {% if forloop.counter != 1 %}
            bg-royal-blue-100
            text-royal-blue-700
            {% else %}
            bg-royal-blue-200
            text-royal-blue-900
            {% endif %}
            grid grid-cols-5 border-2 border-royal-blue-400 rounded-lg py-2 px-5">
                <div id="chevronUp" class="flex flex-row items-center gap-2">
                    <div class="expandPengurus p-2">
                        <i class="fa-solid 
                        {% if forloop.counter != 1 %}
                        fa-chevron-right
                        {% else %}
                        fa-chevron-down
                        {% endif %}
                        "></i>
                    </div>
                    <div class="flex flex-col">
                        <span class="text-md font-bold">{{ k.nama }}</span>
                        <span class="text-sm">{{ k.periode.tgl_selesai }}</span>
                    </div>
                </div>
                <div id="people" class="col-span-3 flex-row">
                    <div class="flex flex-row gap-8">
                        <div class="flex flex-row items-center gap-2">
                            <div class="h-10 w-10 bg-gray-500 rounded-full"></div>
                            <div class="flex flex-col">
                                <span class="font-semibold">{{ k.ketua.nama }}</span>
                                <span class="text-sm">Ketua</span>
                            </div>
                        </div>
                        <div class="flex flex-row items-center gap-2">
                            <div class="h-10 w-10 bg-gray-500 rounded-full"></div>
                            <div class="flex flex-col">
                                <span class="font-semibold">{{ k.sekretaris.nama }}</span>
                                <span class="text-sm">Sekretaris</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tool" class="flex items-center justify-end gap-4 relative">
                    <span>
                        <i class="fa-solid fa-users"></i>
                        4
                    </span>
                    <div>
                        <div class="expandKepengurusanOption">
                            <i class="fa-solid fa-ellipsis-vertical px-2"></i>
                        </div>
                        <div class="kepengurusanOption right-0 rounded-lg bg-royal-blue-100 border-2 border-royal-blue-500 absolute z-[300] grid grid-cols-1 text-royal-blue-700 hidden">
                            <p class="editKepengurusan cursor-pointer hover:bg-royal-blue-400 hover:text-royal-blue-850 px-2 py-1" data-id={{ k.id }}>Edit</p>
                            <p class="cursor-not-allowed text-gray-500 px-2 py-1">Tambah Pengurus</p>
                            <form action="{% url 'kepengurusan.delete' k.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="cursor-pointer w-full text-start hover:bg-royal-blue-400 hover:text-royal-blue-850 px-2 py-1">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pengurus" class="
            {% if forloop.counter != 1 %}
            hidden
            {% endif %}
            pengurus
            relative ml-5 p-4 pr-0 border-l-2 border-royal-blue-400 grid gap-4">
                {% comment %} <div class=" relative flex items-center grid grid-cols-5 bg-royal-blue-200 border-2 border-royal-blue-400 rounded-lg py-2 px-5 text-royal-blue-700" data-id={{ k.id }}>
                    <div class="absolute -m-5 h-1 w-5 bg-royal-blue-400"></div>
                    <div id="chevronUp" class="flex flex-row items-center gap-2">
                        <span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <div class="flex flex-col">
                            <span class="text-md font-bold">Role Name</span>
                        </div>
                    </div>
                    <div class="col-span-4 text-center">
                        In Progress 
                    </div>
                    
                </div> {% endcomment %}
                <div class="editKepengurusan relative flex items-center grid grid-cols-5 bg-royal-blue-100 border-2 border-royal-blue-400 rounded-lg py-2 px-5 text-royal-blue-700" data-id={{ k.id }}>
                    <div class="absolute -m-5 h-1 w-5 bg-royal-blue-400"></div>
                    <div id="chevronUp" class="flex flex-row items-center gap-2">
                        <span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <div class="flex flex-col">
                            <span class="text-md font-bold">{{ k.nama }}</span>
                            <span class="text-sm">{{ k.periode.tgl_selesai }}</span>
                        </div>
                    </div>
                    <div id="people" class="col-span-3 flex-row">
                        <div class="flex flex-row gap-8">
                            <div class="flex flex-row items-center gap-2">
                                <div class="h-10 w-10 bg-gray-500 rounded-full"></div>
                                <div class="flex flex-col text-center">
                                    <span class="font-semibold">{{ k.ketua.nama }}</span>
                                    <span class="text-sm">{{ k.ketua.nim }}</span>
                                </div>
                            </div>
                            <div class="flex flex-row items-center gap-2">
                                <div class="h-10 w-10 bg-gray-500 rounded-full"></div>
                                <div class="flex flex-col text-center">
                                    <span class="font-semibold">{{ k.sekretaris.nama }}</span>
                                    <span class="text-sm">{{ k.sekretaris.nim }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tool" class="flex items-center justify-end gap-4 relative">
                        <span>
                            <i class="fa-solid fa-users"></i>
                            1
                        </span>
                        <span>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                            <div class="right-0 rounded-lg bg-royal-blue-100 border-2 border-royal-blue-500 absolute z-[300] grid grid-cols-1 text-royal-blue-700">
                                <p class="hover:bg-royal-blue-400 hover:text-royal-blue-850 px-2 py-1">Edit</p>
                                <p class="hover:bg-royal-blue-400 hover:text-royal-blue-850 px-2 py-1">Delete</p>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="editKepengurusan relative flex items-center grid grid-cols-5 bg-royal-blue-100 border-2 border-royal-blue-400 rounded-lg py-2 px-5 text-royal-blue-700" data-id={{ k.id }}>
                    <div class="absolute -m-5 h-1 w-5 bg-royal-blue-400"></div>
                    <div class="absolute -m-5 mt-8 h-12 w-1 bg-gray-100"></div>
                    <div id="chevronUp" class="flex flex-row items-center gap-2">
                        <span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </span>
                        <div class="flex flex-col">
                            <span class="text-md font-bold">{{ k.nama }}</span>
                            <span class="text-sm">{{ k.periode.tgl_selesai }}</span>
                        </div>
                    </div>
                    <div id="people" class="col-span-3 flex-row">
                        <div class="flex flex-row gap-8">
                            <div class="flex flex-row items-center gap-2">
                                <div class="h-10 w-10 bg-gray-500 rounded-full"></div>
                                <div class="flex flex-col text-center">
                                    <span class="font-semibold">{{ k.ketua.nama }}</span>
                                    <span class="text-sm">{{ k.ketua.nim }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tool" class="flex items-center justify-end gap-4">
                        <span>
                            <i class="fa-solid fa-users"></i>
                            4
                        </span>
                        <span>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "ormawa/partials/modalKepengurusan.html" %}