{% extends "dashboard/layout.html" %}
<!---->
{% block content %}
  <!---->
  {% include "dashboard/broadcrumb.html" with title="Jenis Ormawa" %}
  <div x-data="{ 'isModalOpen': false, levelOrmawaEdit: {}, modalTitle: '', formUrl: '', formBtn: '', }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="px-4 py-6 md:px-6 xl:px-7.5 flex justify-between">
      <div>
        <button id="modalOpen"
                x-on:click=" formUrl = '{% url "level.create" %}'; formBtn = 'Create'; isModalOpen = true; modalTitle = 'Create Jenis Ormawa'; levelOrmawaEdit = { nama: '', }; "
                class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
          Create
        </button>
      </div>
    </div>
    <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
      <div class="col-span-5 hidden items-center sm:flex">
        <p class="font-medium">Nama</p>
      </div>
    </div>
    {% for l in level %}
      <div class="grid grid-cols-6 border-t border-stroke px-4 py-4.5 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5">
        <div class="col-span-7 flex items-center">
          <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
            <p class="text-sm font-medium text-black dark:text-white">{{ l.nama }}</p>
          </div>
        </div>
        <div class="flex gap-5">
          <button x-on:click=" formUrl = '{% url "level.edit" l.id %}'; formBtn = 'Save'; isModalOpen = true; modalTitle = 'Edit Jenis Ormawa'; levelOrmawaEdit = { nama: '{{ l.nama }}', }; ">
            <i class="fa-solid fa-pen"></i>
          </button>
          <form action="{% url 'level.delete' l.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>
      </div>
    {% endfor %}
    {% include "partials/level_modal.html" %}
  </div>
{% endblock content %}
