{% extends "dashboard/layout.html" %} {% block title %}BIMA - Ormawa{% endblock
title %} {% block content %}
<section id="main" class="m-4">
  <div class="mb-8">
    <span class="text-3xl font-bold text-[#222]">Ormawa</span>
  </div>
  <div class="container my-4 bg-white p-4 h-full text-[#222] rounded-lg">
    <div id="head" class="my-5">
      <div id="title" class="text-center mb-2">
        <span class="block text-xl font-bold">DNCC</span>
        <span class="block text-lg">(Dian Nuswantoro Computer Club)</span>
      </div>
      <div id="menu" class="w-1/2 grid grid-cols-3 gap-8 text-center mx-auto">
        <a href="#" class="border-b-4 border-gray-300 hover:border-gray-600">
          Main
        </a>
        <a href="#" class="border-b-4 border-gray-300 hover:border-gray-600">
          Kegiatan
        </a>
        <a
          href="#"
          class="border-b-4 border-royal-blue-500 hover:border-gray-600 font-semibold"
        >
          Kepengurusan
        </a>
      </div>
    </div>
    <hr />
  </div>
  {% include "ormawa/contents/kegiatan.html" %} {% comment %} {% include
  "ormawa/contents/kepengurusan.html" %} {% endcomment %}
</section>
{% endblock content %}
