{% extends "dashboard/layout.html" %}
<!---->
{% block content %}
  <!---->
  {% include "dashboard/broadcrumb.html" with title="Kepengurusan" %}
  <div x-data="{ 'isModalOpen': false, levelOrmawaEdit: {}, modalTitle: '', formUrl: '', formBtn: '', }"
       class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div x-data="ormawaSearch">
      <div class="px-4 py-6 md:px-6 xl:px-7.5 grid grid-cols-4 gap-4">
        <div class="col-span-3">
          {{ form.organisasi.label_tag }}
          <div class="relative">
            <template x-if="selectedOrmawa == ''" x-trap="selectedOrmawa == ''">
              <div>
                {{ form.organisasi }}
                {{ form.organisasi.errors }}
              </div>
            </template>
            <template x-if="selectedOrmawa != ''" x-trap="selectedOrmawa != ''">
              <div>
                {{ form.selectedOrganisasi }}
                {{ form.selectedOrganisasi.errors }}
              </div>
            </template>
            <div class="hidden">{{ form.selectedOrmawaSingkatan }}</div>
            <div x-show="ormawaShow"
                 x-transition:enter="transition ease-out duration-300"
                 x-transition:enter-start="opacity-0 -translate-y-6"
                 x-transition:enter-end="opacity-100 translate-y-0"
                 x-transition:leave="transition ease-in duration-300"
                 x-transition:leave-start="opacity-100 translate-y-0"
                 x-transition:leave-end="opacity-0 -translate-y-6"
                 class="absolute bg-white w-full max-h-72 overflow-y-scroll rounded-b-lg border-[1.5px] border-stroke py-3 font-normal text-black outline-none transition border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:border-primary">
              <template x-for="o in searchOrmawa">
                <div>
                  <button x-text='o.nama'
                          @click.prevent='selectOrmawa(o.nama, o.singkatan)'
                          class="transition-opacity ease-in-out delay-100 w-full py-2 px-5 hover:bg-indigo-500 duration-500 hover:bg-primary hover:text-white text-start"
                          x-transition></button>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="col-span-1">
          {{ form.periode.label_tag }}
          {{ form.periode }}
          {{ form.periode.errors }}
        </div>
        <div class="col-span-4">
          <button @click=" location.href='{% url "kepengurusan.show" 'x' 'y' %}'.replace('x', selectedOrmawaSingkatan).replace('y', selectedPeriode); selectedPeriode = ''; "
                  class="w-full inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
            <i class="fa-solid fa-magnifying-glass mr-2"></i>
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('ormawaSearch', () => ({
          ormawaShow: false,
          searchQuery: '',

          selectedOrmawa: '',
          selectedOrmawaIdx: '',
          selectedOrmawaSingkatan: '',

          selectedPeriode: '',

          ormawa: [
          {% for o in ormawa %}
              { singkatan: '{{ o.singkatan }}', nama: '{{ o.nama }}' }
              {% if not forloop.last %},{% endif %}
          {% endfor %}
          ],

          get searchOrmawa(){
            if(this.searchQuery == ''){
              return this.ormawa
            }

            if(this.searchQuery != ''){
              return this.ormawa.filter(ormawa => ormawa.nama.toLowerCase().includes(this.searchQuery.toLowerCase()))
            }
          },

          changeSelectedOrmawaIdx(){
            if(this.selectedOrmawaIdx == ''){
              this.selectedOrmawaIdx = 0
            } else {
              this.selectedOrmawaIdx++
            }
          },

          selectOrmawa(nama, singkatan){
            this.ormawaShow = false
            this.selectedOrmawa = nama
            this.selectedOrmawaSingkatan = singkatan
          },

          reset(){
            this.ormawaShow = false
            this.searchQuery = ''
          },

          resetSelected(){
            this.searchQuery = ''
            this.selectedOrmawa = ''
            this.selectedOrmawaSingkatan = ''
            setTimeout(() => {
              document.querySelector('#id_organisasi').focus();
            });
            this.selectedOrmawaSingkatan = ''
            setTimeout(() => {
            this.ormawaShow = true
            }, 100);

          },
      }))
    })
  </script>
{% endblock content %}
