{% extends "dashboard/layout.html" %}
{% block title %}
    Mahasiswa
{% endblock title %}
{% block content %}
    <section id="main" class="m-4">
        <div class="mb-8">
            <span class="text-3xl font-bold text-[#222]">Mahasiswa</span>
        </div>
        <div class="container my-4 bg-white p-4 h-full text-[#222] rounded-lg">
            <span class="text-2xl font-semibold flex justify-center">Cari mahasiswa</span>
            <form action="{% url 'mahasiswa.search' %}" method="post" class="mt-6">
                <div class="grid grid-cols-4 mx-40 gap-2">
                    {% csrf_token %}
                    <input type="text"
                           name="query"
                           class="col-span-3 py-2 border-solid border-2 border-sky-500 rounded-lg px-2  ">
                    <button type="submit"class="bg-blue-600 rounded-lg text-white">Cari</button>
                </div>
            </form>
        </div>
        {% if request.method == "POST" %}
            {% if mahasiswa %}
                <div class="container my-4 bg-white p-4 h-full text-[#222] rounded-lg">
                    <span class="text-2xl font-semibold flex justify-center">Detail Mahasiswa</span>
                    <div class="content-center mx-auto w-4/5 bg-gray-200 rounded-lg p-3 mt-4">
                        <div>
                            <span class="font-bold">Nim:</span>
                            {{ mahasiswa.nim }}
                        </div>
                        <div>
                            <span class="font-bold">Nama:</span>
                            {{ mahasiswa.nama }}
                        </div>
                        <div>
                            <span class="font-bold">Status:</span>
                            {{ mahasiswa.status_mhs }}
                        </div>
                        <div>
                            <span class="font-bold">IPK:</span>
                            {{ mahasiswa.ipk }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container my-4 bg-white p-4 h-full text-[#222] rounded-lg">
                    <div class="flex justify-center">Data Tidak Ditemukan</div>
                </div>
            {% endif %}
        {% endif %}
    </section>
{% endblock content %}
