<form id="modalForm" x-bind:action="formUrl" method="post" class="m-5">
    {% csrf_token %}
    {{ form }}
    <div class="m-3">
        <button x-text="formBtn"
                type="submit"
                class="inline-flex items-center justify-center rounded-md bg-primary px-10 py-2 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
        </button>
    </div>
</form>
