<div id="modal"
     x-show="isModalOpen"
     class="fixed inset-0 z-99999 flex h-screen w-screen items-center bg-black bg-opacity-50">
    <div x-on:click.away="isModalOpen = false"
         class="inset-0 mx-auto h-fit w-1/2 rounded-lg bg-white">
        <div id="modalHead" class="m-3">
            <span class="float-start font-bold" x-text="modalTitle">{{ modalTitle }}</span>
            <button x-on:click="isModalOpen = false"
                    id="modalClose"
                    class="jusitfy-end float-right flex p-3 text-xl">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <div class="w-full">
            <div x-show="modalTitle == 'Create Pengumuman'">{% include "partials/pengumuman_create.html" %}</div>
            <div x-show="modalTitle == 'Edit Pengumuman'">{% include "partials/pengumuman_edit.html" %}</div>
        </div>
    </div>
</div>
